<?xml version="1.0" encoding="UTF-8"?>
<web-app id="ClomClum" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>ClomClum</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
  
	<servlet>
		<description>
			This is the description for the sample servlet
		</description>
		<display-name>loginServlet</display-name>
		<icon>
			<small-icon>icons/small.gif</small-icon>
			<large-icon>icons/small.gif</large-icon>
		</icon>
		<servlet-name>
			com.rombachuk.clomclum.loginServlet
		</servlet-name>
		<servlet-class>com.rombachuk.clomclum.loginServlet</servlet-class>
	</servlet>
		<servlet>
		<description>
			This is the description for the sample servlet
		</description>
		<display-name>logoutServlet</display-name>
		<icon>
			<small-icon>icons/small.gif</small-icon>
			<large-icon>icons/small.gif</large-icon>
		</icon>
		<servlet-name>com.rombachuk.clomclum.logoutServlet</servlet-name>
		<servlet-class>com.rombachuk.clomclum.logoutServlet</servlet-class>

	</servlet>
	<servlet>
		<description>
			This is the description for the sample servlet
		</description>
		<display-name>encryptCredentialsServlet</display-name>
		<icon>
			<small-icon>icons/small.gif</small-icon>
			<large-icon>icons/small.gif</large-icon>
		</icon>
		<servlet-name>
			com.rombachuk.clomclum.encryptCredentialsServlet
		</servlet-name>
		<servlet-class>com.rombachuk.clomclum.encryptCredentialsServlet</servlet-class>
	</servlet>
	<context-param>
		<param-name>LDAPbindDN</param-name>
		<param-value>cn=Manager,dc=example,dc=com</param-value>
	</context-param>
	<context-param>
		<param-name>LDAPbindPassword</param-name>
		<param-value>sm3rtw3y</param-value>
	</context-param>
	<context-param>
		<param-name>LDAPhostname</param-name>
		<param-value>olmm.ibm.com</param-value>
	</context-param>
	<context-param>
		<param-name>LDAPhostport</param-name>
		<param-value>389</param-value>
	</context-param>
	<context-param>
		<param-name>LDAPuserBaseDN</param-name>
		<param-value>ou=People,dc=example,dc=com</param-value>
	</context-param>
	<context-param>
		<param-name>LDAPuserUniqueAttribute</param-name>
		<param-value>uid</param-value>
	</context-param>
	<servlet>
		<description>
			This is the description for the sample servlet
		</description>
		<display-name>documentstoreServlet</display-name>
		<icon>
			<small-icon>icons/small.gif</small-icon>
			<large-icon>icons/small.gif</large-icon>
		</icon>
		<servlet-name>com.rombachuk.clomclum.documentstoreServlet</servlet-name>
		<servlet-class>com.rombachuk.clomclum.documentstoreServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			This is the description for the sample servlet
		</description>
		<display-name>clusterServlet</display-name>
		<icon>
			<small-icon>icons/small.gif</small-icon>
			<large-icon>icons/small.gif</large-icon>
		</icon>
		<servlet-name>com.rombachuk.clomclum.clusterServlet</servlet-name>
		<servlet-class>com.rombachuk.clomclum.clusterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			This is the description for the sample servlet
		</description>
		<display-name>templateServlet</display-name>
		<icon>
			<small-icon>icons/small.gif</small-icon>
			<large-icon>icons/small.gif</large-icon>
		</icon>
		<servlet-name>com.rombachuk.clomclum.templateServlet</servlet-name>
		<servlet-class>com.rombachuk.clomclum.templateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			This is the description for the sample servlet
		</description>
		<display-name>policyServlet</display-name>
		<icon>
			<small-icon>icons/small.gif</small-icon>
			<large-icon>icons/small.gif</large-icon>
		</icon>
		<servlet-name>com.rombachuk.clomclum.policyServlet</servlet-name>
		<servlet-class>com.rombachuk.clomclum.policyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			This is the description for the sample servlet
		</description>
		<display-name>designlistServlet</display-name>
		<icon>
			<small-icon>icons/small.gif</small-icon>
			<large-icon>icons/small.gif</large-icon>
		</icon>
		<servlet-name>com.rombachuk.clomclum.designlistServlet</servlet-name>
		<servlet-class>com.rombachuk.clomclum.designlistServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
			This is the description for the sample servlet
		</description>
		<display-name>apiServlet</display-name>
		<icon>
			<small-icon>icons/small.gif</small-icon>
			<large-icon>icons/small.gif</large-icon>
		</icon>
		<servlet-name>com.rombachuk.clomclum.apiServlet</servlet-name>
		<servlet-class>com.rombachuk.clomclum.apiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
			com.rombachuk.clomclum.loginServlet
		</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			com.rombachuk.clomclum.logoutServlet
		</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.rombachuk.clomclum.apiServlet</servlet-name>
		<url-pattern>/api/_login</url-pattern>
		<url-pattern>/api/_all_documentstores</url-pattern>
		<url-pattern>/api/_all_documentstores/add</url-pattern>
		<url-pattern>/api/documentstore</url-pattern>
		<url-pattern>/api/_access_validation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			com.rombachuk.clomclum.documentstoreServlet
		</servlet-name>
		<url-pattern>/_all_documentstores</url-pattern>
		<url-pattern>/_all_documentstores/add</url-pattern>
		<url-pattern>/documentstore</url-pattern>
		<url-pattern>/documentstore/modify</url-pattern>
		<url-pattern>/documentstore/unmanage</url-pattern>
		<url-pattern>/documentstore/manage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			com.rombachuk.clomclum.clusterServlet
		</servlet-name>
		<url-pattern>/_all_clusters</url-pattern>
		<url-pattern>/_all_clusters/add</url-pattern>
		<url-pattern>/cluster</url-pattern>
		<url-pattern>/cluster/documentstores</url-pattern>
		<url-pattern>/cluster/modify</url-pattern>
		<url-pattern>/cluster/remove</url-pattern>
		<url-pattern>/cluster/syncsecurity</url-pattern>
		<url-pattern>/cluster/syncdesign</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			com.rombachuk.clomclum.designlistServlet
		</servlet-name>
		<url-pattern>/designlist</url-pattern>
		<url-pattern>/_all_designlists</url-pattern>
		<url-pattern>/_all_designlists/add</url-pattern>
		<url-pattern>/designlist/remove</url-pattern>
		<url-pattern>/designlist/modify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			com.rombachuk.clomclum.templateServlet
		</servlet-name>
		<url-pattern>/template</url-pattern>
		<url-pattern>/_all_templates</url-pattern>
		<url-pattern>/_all_templates/add</url-pattern>
		<url-pattern>/template/remove</url-pattern>
		<url-pattern>/template/modify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			com.rombachuk.clomclum.policyServlet
		</servlet-name>
		<url-pattern>/policy</url-pattern>
		<url-pattern>/_all_policies</url-pattern>
		<url-pattern>/_all_policies/add</url-pattern>
		<url-pattern>/policy/modify</url-pattern>
		<url-pattern>/policy/remove</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>
			com.rombachuk.clomclum.encryptCredentialsServlet
		</servlet-name>
		<url-pattern>/encryptCredentials</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>ClomClumClusterURL</param-name>
		<param-value>http://cl1005sn-centos65.ibm.com:80</param-value>
	</context-param>
	<context-param>
		<param-name>ClomClumServiceAccount</param-name>
		<param-value>admin</param-value>
	</context-param>
	<context-param>
		<param-name>ClomClumServiceAccountPassword</param-name>
		<param-value>MxAcIWHaUdzhKiljS7L4ig==</param-value>
	</context-param>
	<context-param>
		<param-name>LDAPuserClassFilter</param-name>
		<param-value>(objectClass=person)</param-value>
	</context-param>
	<context-param>
		<param-name>ClomClumRegistryDB</param-name>
		<param-value>clomclumregistry</param-value>
	</context-param>
	<context-param>
		<param-name>ClomClumClusterType</param-name>
		<param-value>local</param-value>
	</context-param>
	
	<context-param>
		<param-name>LDAPgroupBaseDN</param-name>
		<param-value>ou=Groups,dc=example,dc=com</param-value>
	</context-param>
	<context-param>
		<param-name>LDAPgroupMemberattribute</param-name>
		<param-value>memberUid</param-value>
	</context-param>
	<context-param>
		<param-name>LDAPgroupClassFilter</param-name>
		<param-value>(objectClass=posixGroup)</param-value>
	</context-param>
	<context-param>
		<param-name>LDAPgroupUniqueAttribute</param-name>
		<param-value>cn</param-value>
	</context-param>
	<context-param>
		<description>This attribute defines the field in the group object 
class(es) which holds the value of the cloudant 
role, as used in cloudant _security documents</description>
		<param-name>LDAPgroupRoleIdentifyingAttribute</param-name>
		<param-value>description</param-value>
	</context-param>
	<context-param>
		<param-name>public_serviceaccount</param-name>
		<param-value>arombach</param-value>
	</context-param>
	<context-param>
		<param-name>ClomClumCredentialsKey</param-name>
		<param-value>098340384032984</param-value>
	</context-param>
	<context-param>
		<param-name>ClomClumCredentialsIV</param-name>
		<param-value>09336782</param-value>
	</context-param>
	<context-param>
		<param-name>ClomClumSuperUserRole</param-name>
		<param-value>middle-admin</param-value>
	</context-param>
	<context-param>
		<param-name>public_servicecredentials</param-name>
		<param-value>NYdAjSWej/pkpR78AZXPhg==</param-value>
	</context-param>
	<context-param>
		<param-name>northandeast_serviceaccount</param-name>
		<param-value>admin</param-value>
	</context-param>
	<context-param>
		<param-name>northandeast_servicecredentials</param-name>
		<param-value>MxAcIWHaUdzhKiljS7L4ig==</param-value>
	</context-param>
		<context-param>
		<param-name>southandwest_serviceaccount</param-name>
		<param-value>admin</param-value>
	</context-param>
	<context-param>
		<param-name>southandwest_servicecredentials</param-name>
		<param-value>2E+GVGHefp7IxeGPRcttolPZ68hLqiQu</param-value>
	</context-param>
	<context-param>
		<param-name>ldapenabled_serviceaccount</param-name>
		<param-value>middleamd</param-value>
	</context-param>
	<context-param>
		<param-name>ldapenabled_servicecredentials</param-name>
		<param-value>ty9qVIZ8bQcrSeCmlMF+eA==</param-value>
	</context-param>
</web-app>
